.card-container{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    background-color: #95dada;
    display: flex;
    flex-direction: column;
    -moz-osx-font-smoothing:greyscale;
    transform: translateZ(1);
    backface-visibility: hidden;
    transition: transform 0.25s ease-out;

}
.card-container:hover{
    transform :scale(1.04);
}